@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

/* 
.Background {
   height: 100vh;
   width: 100vw;
   background: rgb(255, 206, 206);
   background: linear-gradient(
      90deg,
      rgba(255, 206, 206, 1) 0%,
      rgba(158, 230, 255, 1) 100%
   );
} */

#tsparticles {
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  /*top: 0;*/
  /*left: 0;*/
}

.other-components {
  position: relative;
  z-index: 0; /* Ensure your components are above the particles background */
}

.Background {
  user-select: none;
}
